@tailwind base;
@tailwind components;
@tailwind utilities;

.currency-select {
    padding-right: 40px;
    appearance: none;
    background: url(https://www.shareicon.net/data/512x512/2015/10/29/663857_arrows_512x512.png) 85% / 12% no-repeat white;
  }
  